html, body{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none;
}
.wrapper {
    float: left;
    width: 100%;
    height: 100%;
}
.page-bg {
    background-image: url(../images/Image.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    float: left;
    background-size: cover;
    padding: 40px;
}
.inner-page-color-bg {
    padding: 0 15px;
    background-color: #fff;
    margin: 0px 0;
    border-radius: 32px;
}
.login-sec-inner {
    padding: 50px 40px;
    float: left;
    width: 100%;
}
.login-sec-inner img.logo {
    width: 90px;
    margin-bottom: 50px;
}
.login-sec-inner h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #1E1F20;
}
.login-sec-inner p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #7F85A2;
}
form.login-form {
    width: 100%;
    float: left;
    margin-top: 30px;
}
form.login-form label {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E1F20;
}
.input-email {
    float: left;
    width: 100%;
    position: relative;
}
.input-email input{
    border: 2px solid rgba(143, 146, 161, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #7F85A2;
    height: 48px;
    width: 100%;
    padding: 0 20px;
}
img.check-icon {
    position: absolute;
    right: 16px;
    width: 18px;
    top: 16px;
}
form.login-form .form-group {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
form.login-form span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #7F85A2;
}
button.btn.login {
    width: 100%;
    background: #F2994A;
    border-radius: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    height: 50px;
    border: 2px #F2994A solid;
}
button.btn.login.create-account {
    background-color: #fff;
    border: 2px solid rgba(143, 146, 161, 0.2);
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1E1F20;
}
button.btn.login:hover {
    background: #FFB06A;
}
button.btn.login.create-account:hover {
    background: #F1EFEF;
}
.crubside-deliver {
    background: #F1EFEF;
    height: 100%;
    margin: 0 -15px 0 0;
    border-radius: 32px;
    padding: 40px 50px;
    align-items: center;
}
.vertical-table {
    height: 100%;
    width: 100%;
    display: table;
}
.vertical-align-middle {
    display: table-cell;
    vertical-align: middle;
}
.crubside-deliver img {
    width: 40px;
    margin-bottom: 0px;
}
.crubside-deliver h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #1E1F20;
    margin: 25px 0;
}
.crubside-deliver p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #7F85A2;
}
.mobile-bg{
    display: none;
}
.password-recovery {
    height: 100%;
}



/*store-profile*/

.initail-store-profile {
    background-color: #F7F7F7;
    float: left;
    width: 100%;
}
.profile-inner {
    padding: 0 15px;
    float: left;
    width: 100%;
}   
.initail-store-profile .crubside-deliver {
    background: #ffffff;
    height: 100%;
    margin: 0 -15px 0 0;
    border-radius: 32px 0 0 32px;
    padding: 40px 40px;
    align-items: center;
}
.left-side-menu-fix {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    padding: 25px;
    z-index: 9999;
}
.left-side-menu-fix img.logo {
    width: 77px;
    margin-top: 20px;
    z-index: 9;
    cursor: pointer;
}
.side-menu-center {
    position: absolute;
    top: 0;
    height: 100%;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 44px;
}
.side-menu-center ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}
button.log-out {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 2px solid rgba(143, 146, 161, 0.2);
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #fff;
    padding: 8px 12px;
    z-index: 9;
}
button.log-out:focus{
    outline: none;
}

.side-menu-center ul li img {
    height: 16px;
}
.side-menu-center ul li {
    background: #F7F7F7;
    border-radius: 12px;
    padding: 10px 12px;
    margin-bottom: 30px;
    cursor: pointer;
}
.side-menu-center ul li.active {
    background: #F2994A;
    border-radius: 12px;
}
button.log-out img {
    height: 16px;
}
.initail-store-profile .crubside-deliver h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #1E1F20;
    margin-top: 0;
}
.store-picture {
    margin: 50px 0 75px 0;
    position: relative;
    padding-left: 145px;
    padding-top: 7px;
}
.crubside-deliver .store-picture img {
    width: 120px;
    margin-bottom: 0px;
    position: absolute;
    left: 0;
    top: 0;
}
.store-picture span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #7F85A2;
    width: 100%;
    float: left;
}
.store-picture button.btn.login img {
    position: relative;
    width: 14px;
    top: -1px;
    margin-right: 3px;
}
.store-picture button.btn.login {
    width: auto;
    padding: 0 45px;
    margin-right: 15px;
}
.initail-store-profile .crubside-deliver h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #7F85A2;
    margin-bottom: 20px;
}
.initail-store-profile .crubside-deliver label {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E1F20;
    width: 100%;
}
.initail-store-profile .crubside-deliver input {
    border: 2px solid rgba(143, 146, 161, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #7F85A2;
    height: 48px;
    width: 100%;
    padding: 0 20px;
}
.width-size-fix button.btn.login {
    width: 160px;
    margin: 42px 7px 10px 7px;
}




/*------homescreen----*/


.profile-inner.homescreen {
    background-color: #F7F7F7;
    float: left;
    width: 100%;
    padding: 35px 25px 0 160px;
}
.serch-inner {
    position: relative;
    width:auto;
}
.serch-inner input[type="text"] {
    background: #FFFFFF;
    border-radius: 12px;
    border: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #7F85A2;
    height: 51px;
    padding: 0 30px 0 45px;
    width: auto;
    margin: 0 15px 0 0;
}
.serch-inner img {
    position: absolute;
    width: 19px;
    left: 16px;
    top: 16px;
}
.serch-inner button.btn.login {
    width: auto;
    margin: 0 0 0 15px;
    padding: 0 27px;
}
.raymond-profile {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 6px 9px;
    width: auto;
    float: right;
}
.raymond-profile h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #1E1F20;
    width: auto;
    display: inline-block;
    margin: 0 10px;
}
.restorent-store {
    margin-top: 45px;
    position: relative;
}
.restorent-store img.restorent-pro {
    position: absolute;
    left: 0;
    top: 0;
}
.restorent-store {
    margin-top: 45px;
    position: relative;
    padding-left: 210px;
    margin-bottom: 70px;
}
.restorent-store h1 {
    width: auto;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
    vertical-align: top;
    color: #000000;
}
.restorent-store button.btn.profile-btn {
    display: inline-block;
    vertical-align: top;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1E1F20;
    flex: none;
    order: 0;
    align-self: center;
    margin: 5px 30px;
    border: 2px #e2e3e6 solid;
}
.restorent-store span {
    width: 100%;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #7F85A2;
    margin: 3px 0 30px 0;
}
img.small-size-icon {
    width: 16px;
    margin-right: 7px;
}
.restorent-store p {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}
.restorent-store p button.btn.profile-btn {
    margin-bottom: 0;
    position: relative;
    top: -9px;
}
.existing-order {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 30px 30px;
}
.create-order {
    text-align: center;
    background: #ECF4FF;
    border: 1px dashed #2D9CDB;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.create-order span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #2D9CDB;
}
.create-order span b {
    background: #56ccf24a;
    opacity: 1;
    border-radius: 12px;
    padding: 14px 15px;
    display: inline-block;
    margin-right: 5px;
}
.create-order span b img {
    width: 15px;
}
.need-help h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-top: 40px;
}
.need-help p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #7F85A2;
}
.need-help p a {
    color: #f2994a;
}
.existing-order h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 15px;
}
.existing-order h6 a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #F2994A;
    float: right;
}
.existing-order table.table td {
    border-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 38px;
    color: #000000;
}
.existing-order table.table tr {
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 12px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 15px;
    display: inline-table;
}
button.btn.green-btn {
    background: #27AE60;
    border-radius: 12px;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    padding: 9px 35px;
    margin: 0 4px;
}
button.btn.green-btn.yellow {
    background: #F2C94C;
    border-radius: 12px;
}
button.btn.green-btn:hover {
    background: #40DC82;
}
button.btn.green-btn.yellow:hover {
    background: #FFDD75;
}
button.close img {
    opacity: 1;
    width: 15px;
}
.modal-header .close {
    opacity: 1;
    margin-right: -8px;
}
.model-main .modal-header {
    border-bottom: 0px;
}
.model-main .modal-body.text-center {
    padding-top: 0px;
    padding-bottom: 30px;
}
.modal-header .close:focus{
    border: 0;
    outline: none;
}
.model-main .modal-body.text-center h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    color: #363A40;
}
.model-main .modal-body.text-center p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #67758D;
    min-height: 130px;
}
.model-main .modal-body.text-center ul {
    padding: 0;
    list-style: none;
    margin: 40px 0 4px 0;
    width: 100%;
    text-align: center;
}
.model-main .modal-body.text-center ul li {
    background: #F1F1F1;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    display: inline-block;
    margin: 0 3px;
}
.model-main .modal-body.text-center ul li.active {
    background: #F2994A;
}
.model-main .modal-body.text-center button.btn.login {
    width: auto;
    padding: 0 60px;
    margin: 30px 8px 0 8px;
}
button.btn.login.yellow {
    background: #F2C94C;
    border-color: #F2C94C;
}
button.btn.login.yellow:hover {
    background: #FFDD75;
}
button.btn.login.gray {
    background: #E9E9EC;
    border-radius: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #7F85A2;
    border-color: #E9E9EC;
}
button.btn.login.gray:hover {
    background: #F1EFEF;
    border: 2px solid rgba(143, 146, 161, 0.2);
    box-sizing: border-box;
    border-radius: 12px;
}
.mobile-hrader.text-center{
    display: none;
}
.crubside-deliver .store-picture img.cemera-mobile {
    display: none;
}
.crubside-deliver .store-picture img.delete-mobile{
    display: none;
}   
.account-info{
    display: none;
}
.desktop-display-none{
    display: none !important;
}
img.paymrnt-logo {
    width: 90px;
    margin-bottom: 25px;
}
.initail-store-profile.payment-profile {
    padding: 30px 0;
}
.initail-store-profile.payment-profile .crubside-deliver {
    margin: 0;
    border-radius: 32px;
}
.initail-store-profile .crubside-deliver select {
    border: 2px solid rgba(143, 146, 161, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #7F85A2;
    height: 48px;
    width: 100%;
    padding: 0 20px;
    background: #EDEDED;
}
button.btn.login.start-trail {
    width: auto;
    padding: 0 70px;
}
img.security {
    width: auto;
    position: absolute;
    right: 17px;
    top: 18px;
}
.initail-store-profile .crubside-deliver input.credit-card {
    width: 70%;
}
img.visa-img {
    margin: 0 0 0 6px;
    width: 35px;
}
a.go-back {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #F2994A;
    margin-top: 14px;
    display: inline-block;
}
a.go-back img {
    margin-right: 6px;
}
.initail-store-profile.main-new-order .crubside-deliver {
    border-radius: 12px;
    padding: 25px 25px 25px 45px;
    margin: 20px 0 35px 0;
}
.initail-store-profile.main-new-order .crubside-deliver h1 {
    font-size: 28px;
}

.mobile-menu {
    position: fixed;
    background-color: #f2994a;
    width: 100%;
    padding: 20px 0px 15px 0;
    height: 100%;
    z-index: 9999999;
}

.initail-store-profile.main-new-order .crubside-deliver h1.order {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    margin: 14px 0;
}
button.btn.login.start-trail.green {
    background: #219653;
    border-radius: 12px;
    border-color: #219653;
    margin-top: 10px;
}
button.btn.login.start-trail.pink {
    background: #EB5757;
    border-radius: 12px;
    border-color: #EB5757;
    margin-top: 10px;
}
button.btn.login.start-trail.green:hover {
    background: #40DC82;
}
button.btn.login.start-trail.pink:hover {
    background: #F86B6B;
}
.order-seved img {
    width: 70px;
    margin-bottom: 10px;
}
.modal-body.text-center.order-seved p {
    min-height: auto;
}



/*search-results*/


ul.search-category {
    list-style: none;
    padding: 0;
}
ul.search-category li {
    background: rgba(143, 146, 161, 0.2);
    border-radius: 12px;
    width: auto;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #7F85A2;
    padding: 18px 40px;
    margin-right: 6px;
    cursor: pointer;
}
ul.search-category li.active {
    background: #f2994a38;
    border-radius: 12px;
    color: #F2994A;
}
ul.search-category li:hover {
    background: #f2994a38;
    border-radius: 12px;
    color: #F2994A;
}
.results-table h1.order {
    margin-bottom: 25px !important;
    display: inline-block;
}
.col-md-12.results-table table.table tr th {
    border: 0 !important;
    background: #e9e9ec30;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #7F85A2;
    text-align: center;
    padding: 20px;
}
.col-md-12.results-table table.table tr td input[type="checkbox"] {
    width: 20px;
    margin: 0 auto;
    float: none;
    display: inline-block;
    line-height: normal;
    vertical-align: top;
    height: 20px;
}
.col-md-12.results-table table.table tr td {
    text-align: center;
    border-top: 0;
    padding: 16px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #7F85A2;
}
.col-md-12.results-table table.table tr td button {
    margin-top: 0;
    width: auto;
    padding: 6px 10px;
    line-height: normal;
    height: auto;
    border-radius: 7px;
}
.pull-right {
    float: right;
}
img.send-serch {
    width: 20px;
    margin-right: 4px;
}






@media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px)  {
.results-table table, .results-table thead, .results-table tbody, .results-table th, .results-table td, .results-table tr {
display: block;
}
.results-table table thead tr {
position: absolute;
top: -9999px;
left: -9999px;
}
.results-table table tr {
    margin: 0 0 1rem 0;
    padding: 10px 15px;
    border: 2px solid rgba(143, 146, 161, 0.2);
    box-sizing: border-box;
}

.results-table table td {
border: none;
border-bottom: 1px solid #eee;
position: relative;
padding-left: 50%;
}
.results-table table td:before {
    position: relative;
    top: 0;
    left: 0;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    float: left;
}
.results-table table td:nth-of-type(1):before { content: "Select"; }
.results-table table td:nth-of-type(2):before { content: "Name"; }
.results-table table td:nth-of-type(3):before { content: "Order Time"; }
.results-table table td:nth-of-type(4):before { content: "Phone"; }
.results-table table td:nth-of-type(5):before { content: "Address"; }
.results-table table td:nth-of-type(6):before { content: "Email"; }
.results-table table td:nth-of-type(7):before { content: "Item"; }
.results-table table td:nth-of-type(8):before { content: "Code"; }
}




.store-setting {
    width: 100%;
    float: left;
    margin-top: 15%;
    margin-bottom: 15%;
}
.store-setting ul {
    list-style: none;
    padding: 0;
}
.store-setting ul li {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 16px 20px;
    margin-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #7F85A2;
    cursor: pointer;
}
img.left-profile {
    margin-right: 12px;
}
img.right {
    float: right;
    margin-top: 15px;
}

.col-md-6.store-profile {
    z-index: 9999;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 0;
}
.col-md-6.store-profile .crubside-deliver {
    margin: 0;
    border-radius: 32px 0 0 32px;
}
.col-md-6.store-profile .crubside-deliver h1 {
    font-size: 22px;
    margin: 17px 0 0 0 !important;
}
.store-setting ul li.active {
    background-color: #F2994A;
}   
.store-setting ul li.active {
    background-color: #F2994A;
    color: #fff;
}
.store-setting ul li.active img {
    filter: brightness(100);
}
.team-meamber {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px 30px;
    margin-bottom: 40px;
}
.team-meamber h1.order {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 35px !important;
}
img.small-img {
    width: 15px;
    margin-right: 2px;
}











@media screen and (min-width:1600px){
    .page-bg {
    height: 100%;
}
}
@media screen and (max-width:1099px){
    .page-bg {
    height: 100%;
}
}

@media screen and (max-width:767px){
.logout-menu {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.logout-menu img {
    margin-right: 12px;
}    
.mobile-menu .store-setting li {
    background-color: transparent;
    padding: 0;
    color: #fff;
    margin-bottom: 20px;
}
.mobile-menu h5 {
    margin-top: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}
.mobile-menu .store-setting {
    margin-top: 15px;
}    
img.back-whit {
    float: left;
    margin-right: 25px;
}    
.mobile-menu {
    position: fixed;
    background-color: #f2994a;
    width: 100%;
    padding: 20px 0px 15px 0;
    height: 100%;
    z-index: 9999;
}
.profile-nav-menu span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 4px;
}    
    
    
ul.search-category li:focus{
        background-color: transparent;
}    
ul.search-category li {
    min-width: 80px;
    text-transform: uppercase;
    font-size: 12px !important;
    height: 26px !important;
}    
.initail-store-profile.edit-team-member {
    background-color: #fff;
}    
.col-md-12.results-table table.table tr td button {
    background-color: transparent;
}    
.team-meamber {
    background: transparent;
    border-radius: 12px;
    padding: 0 15px;
    margin-bottom: 40px;
}    
.col-md-6.store-profile {
    position: relative;
    padding-right: 15px;
}    
.initail-store-profile.main-new-order.store-setting {
    background-color: #f7f7f7;
}
.initail-store-profile.main-new-order.store-setting .profile-inner.homescreen {
    background-color: #f7f7f7;
}    
ul.search-category li.active {
    background: transparent;
    border-radius: 0;
    color: #F2994A;
    border-bottom: 2px #f2994a solid;
    height: auto;
}    
ul.search-category li {
    background: transparent;
    border-radius: 12px;
    width: auto;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    color: #7F85A2;
    padding: 3px 0;
    margin-right: 15px;
    cursor: pointer;
    height: 36px;
}    
ul.search-category {
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: 20px;
    overflow: auto;
}   
.update-order button.btn.login.start-trail {
    width: 49% !important;
    display: inline-block;
    padding: 0 0;
}    
button.btn.login.start-trail.gray.see-results {
    width: 100%;
}    
.col-md-12.results-table table.table tr td button {
    margin-top: 0;
    width: 49%;
    padding: 10px 10px;
    line-height: normal;
    height: auto;
    border: 1px solid #7F85A2;
    border-radius: 12px;
    color: #7F85A2;
}    
.update-order button.btn.login {
    width: 100% !important;
}    
button.btn.login.start-trail.pink {
    width: auto;
    margin: 0 3px;
}
button.btn.login.start-trail.green {
    width: auto;
}    
.initail-store-profile.main-new-order .crubside-deliver h1 {
    font-size: 18px;
    margin-bottom: 9px;
}    
.initail-store-profile.main-new-order {
    background-color: #fff;
}
.initail-store-profile.main-new-order .profile-inner.homescreen {
    background-color: #fff;
}
.initail-store-profile.main-new-order .crubside-deliver {
    border-radius: 12px;
    padding: 0 0;
    margin: 20px 0 35px 0;
}    
.initail-store-profile .crubside-deliver h1 {
    font-size: 19px;
}    
button.btn.login.start-trail {
    width: auto;
    padding: 0 10px;
    margin-top: 20px !important;
}    
.initail-store-profile .crubside-deliver input.credit-card {
    width: 64%;
}    
.initail-store-profile.payment-profile .container {
    padding: 0;
}
.initail-store-profile.payment-profile {
    padding: 30px 0;
    background-color: #fff;
}    
.model-main .modal-body.text-center button.btn.login {
    width: auto;
    padding: 0 60px;
    margin: 11px 8px 0 8px;
}    
button.btn.check-right.more-option {
    background: #E2E3E6;
}    
button.btn.check-right img {
    width: 20px;
}    
button.btn.check-right {
    background: rgba(119, 194, 133, 0.2);
    border-radius: 12px;
    display: inline-block;
    margin: 2px 5px;
    padding: 9px 15px;
    float: right;
}   
.create-order span {
    font-size: 18px;
}    
.restorent-store button.btn.profile-btn {
    margin: 5px auto 30px;
    border: 1px solid #979797;
    border-radius: 12px;
    padding: 9px 20px;
    margin-top: 11px;
}  
.desktop-display-none{
    display: block !important;
}    
.restorent-store span {
    margin: 3px 0 10px 0;
}    
.restorent-store h1 {
    font-size: 20px;
    margin-top: 15px;
}    
.restorent-store img.restorent-pro {
    position: relative;
}    
.restorent-store {
    margin-top: 25px;
    position: relative;
    padding-left: 0;
    margin-bottom: 50px;
    text-align: center;
}
.search-profile {
    display: none;
}    
.profile-inner.homescreen {
    padding: 0 0 0 0;
}    
.model-main .modal-body.text-center p {
    min-height: auto;
}    
.col-md-12.account-info.text-center h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #7F85A2;
    margin-bottom: 10px;
}       
.account-info{
    display: block;
}    
.mobile-display-none{
    display: none !important;
}    
.crubside-deliver .store-picture img.cemera-mobile {
    width: auto;
    float: left;
    margin-top: 28px;
    display: block;
}
.crubside-deliver .store-picture img.delete-mobile{
    width: auto;
    float: right;    
    margin-top: 28px;
    display: block;
}    
.store-picture span, .store-picture button {
    display: none;
}    
.crubside-deliver .store-picture img {
    width: 100px;
    position: relative; 
}    
.store-picture {
    margin: 20px 0 30px 0;
    position: relative;
    padding-left: 0;
    padding-top: 7px;
    text-align: center;
}    
.width-size-fix button.btn.login {
    width: 100%;
    margin: 10px 0 4px 0;
}    
.initail-store-profile {        
    padding: 15px 0;    
}    
img.serh-mob {
    float: right;
    margin-top: 20px;
}
img.notifiation {
    float: left;
    margin-top: 20px;
}
.initail-store-profile .crubside-deliver {
    background: transparent;
    padding: 20px 0;
    margin: 0;
}  
.mobile-hrader.text-center{
    display: block;
    padding: 0 30px;
}
.left-side-menu-fix {
    display: none;
}    
    .page-bg.mobile-page-bg {
    padding: 0;
    background-image: url(../images/mobile-bg.png);
}
    .mobile-bg{
        display: block;
        margin: 0 auto;
    }   
.mobile-bg {
    display: block;
    margin: 30px auto 30px;
}
.page-bg.mobile-page-bg .inner-page-color-bg img.logo {
    display: none;
}
.page-bg.mobile-page-bg .crubside-deliver {
    display: none;
}    
form.login-form span {
    width: 100%;
    float: left;
    text-align: center;
}    
}

.form-group i {
    margin-left: -30px;
    cursor: pointer;
	float: right;
}

i#togglePassword {
    position: absolute;
    right: 16px;
    top: 16px;
}

.side-menu-center ul li.active img{
    filter: brightness(100);
}

.serch-inner a {
    font-family: Roboto;
}

form.login-form span a {
    color: #7F85A2;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

#order_form .error{
    color: red;
}

#payment .error{
    color: red;
}

.existing-order table.table.mobile-display-none tr td:nth-child(1) {
   width: 90px;
}
.existing-order table.table.mobile-display-none tr td:nth-child(2) {
   width: 180px;
   line-height: 27px;
}

.existing-order table.table.mobile-display-none tr td:nth-child(3) {
   width: 140px;
}

.existing-order table.table.mobile-display-none tr td:nth-child(4) {
   width: 160px;
}

.existing-order table.table.mobile-display-none tr td:nth-child(5) {
   width: 130px;
}

.existing-order table.table.mobile-display-none tr td:nth-child(6) {
   width: 110px;
}
.existing-order table.table.mobile-display-none tr td:nth-child(7) {
   width: 90px;
}

@media screen and (max-width:1299px){
.existing-order table.table {
   width: 1100px;
}
.existing-order {
   background: #FFFFFF;
   border-radius: 12px;
   padding: 30px 30px;
   width: 100%;
   overflow: auto;
}
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #F2994A;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.side-menu-center ul li.active span {
color: #fff !important;
}

.sortable:hover span {
 visibility:visible;
}

.existing-order table.table td {
    border-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 38px;
    color: #000000;
    vertical-align: middle;
    padding: 15px 7px !important;
}

.existing-order table.table.mobile-display-none tr td:nth-child(2) {
   width: 180px;
   line-height: 27px;
}
.existing-order table.table.mobile-display-none tr td:nth-child(4) {
   width: 150px;
}
.existing-order table.table.mobile-display-none tr td:nth-child(5) {
   width: 160px;
}

button.btn.green-btn {
   background: #27AE60;
   border-radius: 12px;
   font-family: Roboto;
   font-style: normal;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   color: #FFFFFF;
   font-weight: 500;
   padding: 9px 15px;
   margin: 0 4px 5px 4px;
}



















